<!doctype html>
<html lang="en" class="h-100">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" 
    type="image/png"
    href="/media/favicon.png">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="/js/vendor/font-awesome.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <style>
        .form-register {
            width: 100%;
            max-width: 900px;
            padding: 15px;
            margin: auto;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Docable</a>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="form-register">

        <div class="p-5">

            <div class="row mb-5">

                <div class="card w-50">
                    <div class="card-header text-center">
                      Your Account Features
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Basic</h5>
                        <ul class="card-text">
                            <li>Notebooks on Home Server</li>
                        </ul>
                        <div class="text-center">
                            <a href="https://ottomatica.io/" class="btn btn-success">Get More Features</a>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="card  w-100">
                    <div class="card-header text-center">
                        Update Your Settings
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Settings</h5>
                      <form class="" id="account-form" action="/account" class="row">
        
                            <div class="form-group">
                                <label for="emailaddress">Email address</label>
                                <input type="email" class="form-control" name="emailaddress" aria-describedby="emailHelp" placeholder="your@email.com" value="<%- user.email %>">
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" value="<%- user.name %>" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" value="" placeholder="Password">
                            </div>
                            <div class="checkbox mb-3">
                                <input type="checkbox" name="subscribe" <%- user.subscribed ? 'checked' : '' %>> 
                                <label>Send me important emails about Docable.</label>
                            </div>
            
                            <div class="text-center">
                            <button type="submit" class="btn btn-secondary">Update</button>
                            </div>
                        </form>
                    </div>
                  </div>
            </div>


            <p>Please review our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
        </div>
        
    </main>

    <script>

        $('#account-form').submit(function (e) {   
            e.preventDefault();

            const subscriberID = <%- JSON.stringify(user.subscriberID) %>;
            const subscribed = <%- JSON.stringify(user.subscribed) %>;

            let form = {
                name: $('[name="name"]').val(),
                password: $('[name="password"]').val(),
                email: $('[name="emailaddress"]').val(),
                subscribed: $('[name="subscribe"').prop('checked')
            }

            // if subscribe status changed
            if (form.subscribed != subscribed) {

                // subscribe
                if(form.subscribed) {
                    $.ajax({
                        url: 'https://buttondown.email/api/emails/subscribers/',
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            email: form.email,
                            referrer_url: 'docable.cloud',
                            newsletter: '83c0ce6e-34f2-47c5-b638-62e53f32b2ca'
                        }),
                        success: function (data) {
                            updateAccount({...form, subscriberID: data.id});
                        },
                        error: function (data) {
                            $('input').addClass('is-invalid')
                        },
                        async: false
                    });
                }

                // unsubscribe
                else {
                    fetch(`https://buttondown.email/api/emails/unsubscribe/${subscriberID}`, {
                        method: 'GET',
                        mode: 'cors',
                        // headers: { "content-type": "application/json; charset=UTF-8" },
                    })
                    .then(response => response.text())
                    .then(data => {
                        updateAccount({...form, subscriberID: ''})
                    })
                    .catch(err => {
                        $('input').addClass('is-invalid')
                    });
                }
            }

            else {
                updateAccount({...form});
            }

            function updateAccount(form) {
                return fetch(`/account`, {
                    method: 'POST',
                    mode: 'cors',
                    body: JSON.stringify(form),
                    headers: { "content-type": "application/json; charset=UTF-8" },
                })
                .then(response => response.text())
                .then(data => {
                    window.location.replace('/account');
                })
                .catch(err => {
                    $('input').addClass('is-invalid')
                });
            }

        });

    </script>

    <%- include('templates/footer_analytics'); -%>
    
</body>

</html>
