<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="icon" 
        type="image/png"
        href="/media/favicon.png">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.27.0/dist/skin-win8/ui.fancytree.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="/js/font-awesome.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.36.1/dist/modules/jquery.fancytree.min.js"></script>

    <style>
        .markdown-body ul.fancytree-container {
          border: none;
        }
        .markdown-body ul.fancytree-container a {
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
            font-size: 16px;
            line-height: 1.5;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Docable</a>

            <%- include('templates/docable_menu'); -%>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="flex-shrink-0 markdown-body">

        <h2>Your Notebooks</h2>
        <div id="tree"></div>
        <script>

            let sortFn = (a, b) => {
                var x = (a.isFolder() ? "0" : "1") + a.title.toLowerCase(),
                    y = (b.isFolder() ? "0" : "1") + b.title.toLowerCase();
                return x === y ? 0 : x > y ? 1 : -1;
            };

            $(document).ready(function()
            {
                $("#tree").fancytree({
                source: <%- JSON.stringify(notebook_tree) %>,
                checkbox: false
                });

                // $('#tree a').on('click', function(event){
                //     var node = $.ui.fancytree.getNode(event);
                //     alert("click" + node);
                // });

                var node = $.ui.fancytree.getTree("#tree").getRootNode();
			    node.sortChildren(sortFn, false);

            });

        </script>

        <% if (github_imports && github_imports.length > 0) { %>

        <h2>Github Projects</h2>

        <ul>
            <% for(var i=0; i < github_imports.length; i++) { %>
               <li>
                 <a href="<%- '/github/?notebook=' + github_imports[i] %>"><%= github_imports[i] %></a>
               </li>
            <% } %>
        </ul>

        <% } %>

    </main>

    <%- include('templates/footer_analytics'); -%>




</body>

</html>
