<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112375708-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112375708-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="/js/font-awesome.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Docable</a>

            <%- include('templates/docable_menu'); -%>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
            </div>



        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="flex-shrink-0 markdown-body">

        <h2>Your Notebooks</h2>

        <ul>
            <% for(var i=0; i < notebooks_urls.length; i++) { %>
               <li>
                 <a href="<%- notebooks_urls[i] %>"><%= notebooks_urls[i] %></a>
               </li>
            <% } %>
        </ul>


        <% if (github_imports && github_imports.length > 0) { %>

        <h2>Github Projects</h2>

        <ul>
            <% for(var i=0; i < github_imports.length; i++) { %>
               <li>
                 <a href="<%- '/github/?notebook=' + github_imports[i] %>"><%= github_imports[i] %></a>
               </li>
            <% } %>
        </ul>

        <% } %>

    </main>

    <%- include('templates/footer_analytics'); -%>

</body>

</html>
