<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <% if (locals.isHosted) { %>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <% } %>

    <title>Docable Notebook</title>

    <link rel="icon" 
        type="image/png"
        href="/media/favicon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/SebastianAigner/twemoji-amazing/twemoji-amazing.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="/js/vendor/font-awesome.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/xterm@4.3.0/lib/xterm.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.3.0/css/xterm.css">
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.4.0/lib/xterm-addon-fit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"
        integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ=="
        crossorigin="anonymous"></script>
    <script src="/modules/repl/js/repl.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js" integrity="sha512-Q1f3TS3vSt1jQ8AwP2OuenztnLU6LwxgyyYOG1jgMW/cbEMHps/3wjvnl1P3WTrF3chJUWEoxDUEjMxDV8pujg==" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.js" integrity="sha256-nZaxPHA2uAaquixjSDX19TmIlbRNCOrf5HO1oHl5p70=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.36.1/dist/skin-awesome/ui.fancytree.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.38.0/jquery.fancytree-all.min.js" integrity="sha512-MLyoOvLMqfCQ08Oou5ocrsCeDt2r4I9GWhnRChmn9LKEBgZFaCPKGYmMC40t0atAQahHzTikc8HZKUQ92rUPGQ==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.3/min/vs/loader.min.js" integrity="sha512-j47Wt2DyLew93/YrYsgqsiHgjcFrvg1fWJIzoQbgywkkbhJLu/n/tUTdpoiEz0pCo3f+Uk3OJzhNlsljA8gU5A==" crossorigin="anonymous"></script>
    <script>
        require.config({ paths: { vs: 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.21.3/min/vs' } });
    </script>

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

<style>
    @keyframes border-pulsate {
        0% { outline-color: #ccfacc; }
        /* 50% { outline-color: #0d7f0d; } */
        100% { 
            outline-color: #61EF61; 
                outline-color: #61EF61; 
            outline-color: #61EF61; 
                outline-color: #61EF61; 
            outline-color: #61EF61; 
                outline-color: #61EF61; 
            outline-color: #61EF61; 
            box-shadow:
            0 0 3px 1px #fff,  /* inner white */
            0 0 10px 6px #ccfacc; /* outline bright */
        } 
    }

    .docable-cell-running {
        animation: border-pulsate 2s infinite;
        outline-style: solid;
        outline-width: 1px;
    }


    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        opacity: 0.5;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(136, 136, 136, 0.5);
        opacity: 0.5;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(119, 119, 119, 0.5);
    }
</style>


<style>
    .fancytree-container {
        border: none !important;
        background-color: transparent !important;;
    }

    .fancytree-treefocus {
        outline: none;
    }
</style>

</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm shadow">
            <a class="navbar-brand" href="/">Docable</a>

            <!-- Local environments can pick their environment -->
            <% if (!locals.isHosted) { %>
                <%- include('templates/environment'); -%>
            <% } %>

            <!-- Turn off whole notebook execution when hosted -->
            <% if (!locals.isHosted) { %>
                <div class="text-success d-none ml-auto" id="submit-button">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Running Notebook
                </div>
            <% } %>

            <!-- <button type="button" class="ml-1 btn btn-outline-success" id="downloadNotebook">
                <i class="fas fa-download"></i>
            </button> -->
        </nav>
    </header>


    <div class="h-100 d-flex flex-row"> 

        <!-- Sidebar -->
        <!-- style="overflow-y:scroll;" -->
        <!-- d-none d-lg-block -->
        <div class="h-100 w-25 position-fixed">
            <div class="h-100 d-flex flex-row">
        
                <div class="d-flex flex-column shadow-none" style="background-color: #e9ecef; color: #bfbfbf;">
                    <div id="sidebar-targets-btn" class="sidebar-tab-btn px-2 py-2" title="Status of notebook targets" data-target="#sidebar-targets">
                        <i class="fas fa-server fa-2x" aria-expanded="false"></i>
                    </div>
                    <div id="sidebar-filetree-btn" class="sidebar-tab-btn px-2 py-2" title="File tree" data-target="#sidebar-filetree">
                        <i class="far fa-copy fa-2x" aria-expanded="false"></i>
                    </div>
                </div>
        
                <!-- Notebook Targets tab -->
                <div class="flex-grow-1 bg-light p-3 d-none" style="transition: none; overflow: auto; overflow-x: hidden; margin-bottom: 75px!important;" id="sidebar-tabs">
        
                    <div class="w-100 card d-none sidebar-tab unselectable" id="sidebar-targets">
                        <div class="card-header h5 bg-white">
                            Notebook Targets
                        </div>
                        <ul class="list-group list-group-flush" id="target_status">
                            <div class="d-flex justify-content-center p-3">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </ul>
                    </div>

                    <div class="w-100 my-2 d-none sidebar-tab" id="sidebar-filetree">
                        <div id="tree" class="p-1"></div>
                    </div>
        
                </div>

            </div>
        </div>

        <div class="h-100 w-75 my-3 mx-auto" id="notebook-area">
            <div class="d-flex flex-column">

                <main>

                    <!-- Display major errors here -->
                    <div id='docable-error' class="alert alert-danger shadow p-3 rounded"></div>

                    <div class="mx-auto px-3 d-flex flex-column">
                        <% if(locals.breadcrumb) { %>
                            <nav class="">
                                <ol class="breadcrumb">
                                    <i class="fas fa-book-open text-dark m-1 mr-2"></i>
                                    <!-- <i class="far fa-file-alt text-dark m-1 mr-2"></i> -->
                                    <% breadcrumb.forEach(item => { %>
                                        <li class="breadcrumb-item active"><%= item %></li>
                                    <% }) %>

                                    <div class="ml-auto d-flex flex-row">
                                        <% if(locals.views) { %>
                                            <div class="text-muted unselectable mr-2" title="Unique views">
                                                <i class="bi bi-eye mr-1"></i><%= views %>
                                            </div>
                                        <% } %>
                                        
                                        <% if(locals.executions) { %>
                                            <div class="text-muted unselectable" title="Executions">
                                                <i class="bi bi-lightning-charge"></i><%= executions %>
                                            </div>
                                        <% } %>
                                    </div>
                                </ol>
                            </nav>
                        <% } %>

                        <!-- border-light -->
                        <div id="notebook-area" class="card p-3 mb-5">
                            <div id="notebook-variables" class="notebook-variables" style="margin-left: 120px;">
                                <%- include('templates/notebook_variables'); -%>
                            </div>

                            <div class="pt-4 pb-4 pr-4 markdown-body" style="padding-left: 125px;">
                                    <!-- Rendered notebook content -->
                                    <%- notebookHtml %>
                            </div>
                        </div>
                    </div>


                    <!--- init and style customization not supported by css -->
                    <script>
                        var isHosted = <%- locals.isHosted %>;

                        $("[data-type='command'][data-spawn='true']")
                            .parents('.docable-cell').children('.sideAnnotation').append('🖥️ ');
                        $("[data-type='script'][data-lang='js']")
                            .parents('.docable-cell').children('.sideAnnotation').append(
                                `<div>
                                    <img style="height: 20px; width: 20px" src="https://cdn.jsdelivr.net/gh/vscode-icons/vscode-icons/icons/file_type_node.svg" alt="">
                                </div>
                            `);

                        $("[data-type='script'][data-lang='java']")
                            .parents('.docable-cell').children('.sideAnnotation').append(
                                `<div>
                                    <img style="height: 20px; width: 20px" src="https://cdn.jsdelivr.net/gh/vscode-icons/vscode-icons/icons/file_type_java.svg" alt="">
                                </div>
                            `);

                        $("[data-type='script'][data-lang='python']")
                            .parents('.docable-cell').children('.sideAnnotation').append(
                                `<div>
                                    <img style="height: 20px; width: 20px" src="https://cdn.jsdelivr.net/gh/vscode-icons/vscode-icons/icons/file_type_python.svg" alt="">
                                </div>
                            `);

                        $("[data-type='script'][data-lang='ruby']")
                            .parents('.docable-cell').children('.sideAnnotation').append(
                                `<div>
                                    <img style="height: 20px; width: 20px" src="https://cdn.jsdelivr.net/gh/vscode-icons/vscode-icons/icons/file_type_ruby.svg" alt="">
                                </div>
                            `);
                    </script>

                </main>

                <% processUptime = locals.processUptime || undefined %>
                <% DocableNotebookVersion = locals.DocableNotebookVersion || undefined %>

            </div>
        </div>

    </div>

    <%- include('templates/footer_analytics', { processUptime, DocableNotebookVersion }); -%>

    <script src="/js/notebookApi.js"></script>
    <script src="/js/notebook.js"></script>
    <script src="/js/ansiparse.js"></script>

    <script>
        let sortFn = (a, b) => {
            var x = (a.isFolder() ? "0" : "1") + a.title.toLowerCase(),
                y = (b.isFolder() ? "0" : "1") + b.title.toLowerCase();
            return x === y ? 0 : x > y ? 1 : -1;
        };

        function _svg(className, addClass) {
            var id = className.replace(/ /g, "-"),
                cn = addClass ? " " + addClass : "",
                html = '<svg class="svg-inline--fa fa-w-20' + cn + '"><use xlink:href="#' + id + '"></use></svg>';
            return { html:  html };
        }

        $(document).ready(function()
        {
            $('[data-toggle="tooltip"]').tooltip()

            $("#tree").fancytree({
                source: <%- JSON.stringify(notebook_tree) %>,
                checkbox: false,
                selectMode: 1,
                extensions: [ "glyph"],
                glyph: {
                    // The preset defines defaults for all supported icon types.
                    // It also defines a common class name that is prepended (in this case 'fa ')
                    preset: "awesome5",
                    map: {
                        // Override distinct default icons here
                        folder: "d-none",
                        folderOpen: "d-none",
                        expanderClosed: "fas fa-chevron-right",
                        expanderOpen: "fas fa-chevron-down",
                        // doc: "fas fa-book-open",
                    }
                },
                icon: function (event, data) {
                    let title = data.node.title;

                    {
                        // yml => yaml
                        title = title.replaceAll('.yml', '.yaml');

                        // .sh
                        title = title.replaceAll('.sh', '.shell');

                        // .txt
                        title = title.replaceAll('.txt', '.log');

                        // png, jpg, jpeg
                        const imageExt = ['png', 'jpg', 'jpeg']
                        imageExt.forEach(ext => title = title.replace(`.${ext}`, '.image'));
                    }

                    if (!data.node.folder) {
                        if (title.startsWith('<')) {
                            return { html: getIcon('markdown') }
                        }
                        else {
                            const ext = title.slice((title.lastIndexOf('.') - 1 >>> 0) + 2);
                            if (ext != '')
                                return { html: getIcon(ext) };
                            else
                                return { html: getDefaultIcon() };
                        }
                    }
                },
                keydown: function (event, data) {
                    const ENTER_KEY = 13;
                    if (event.which === ENTER_KEY) {
                        console.log(data.node.data);
                        if (data.node.data.href) {
                            window.location = data.node.data.href;
                            return false;
                        }
                    }
                }
            })

            var root = $.ui.fancytree.getTree("#tree").getRootNode();
            root.sortChildren(sortFn, true);

            root.visit(function (node) {
                if (node.getLevel() < 3) {
                    node.setExpanded(true);
                }
            });

            function getIcon(ext) {
                const LightSrc = `https://cdn.jsdelivr.net/gh/vscode-icons/vscode-icons/icons/file_type_light_${ext}.svg`;
                return `<img src="${LightSrc}" onerror="this.onerror=null;this.src='${LightSrc.replace('_light', '')}';" alt="">`;
            }
            
            function getDefaultIcon() {
                return `<img src="https://cdn.jsdelivr.net/gh/vscode-icons/vscode-icons/icons/default_file.svg" alt="">`;
            }

            // $(".fancytree-container").addClass("fancytree-connectors");
        });

    </script>

</body>

</html>
