<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">

    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


    <script src="/js/vendor/font-awesome.min.js"></script>


    <style>
        /* th,tr,td {
            padding-left: 3px !important;
            padding-right: 3px !important;
        } */
    </style>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Docable</a>

            <%- include('templates/docable_menu'); -%>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="flex-shrink-0"  style="width: 85%; margin: 0 auto; padding: 45px;">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title">docker images</h5>
              <p class="card-text">The currently available images are:</p>

                <ul>
                    <% docker_images.forEach(t => { %>
                    <li> <%- t %> </li>
                    <% }); %>
                </ul>


                <form id="add_image" action="/addImage" method="POST">
                    <div class="form-group">
                        <label for="image">Docker Image</label>
                        <input name="image" class="form-control" type="text" placeholder="ubuntu:18.04" aria-label="image">
                    </div>
                    <button type="submit" class="btn btn-outline-success mt-2" id="btn-add-img">Add docker image</button>
                </form>
            </div>
        </div>



        <div class="card mt-5">
            <div class="card-body">
              <h5 class="card-title">ssh connections</h5>
              <p class="card-text">You can specific ssh connections to remote and local VMs here.</p>

              <div class="container-fluid">
                <table class="table" id="example" style="width: 100%; text-align: center;">
                    <thead>
                        <tr>
                            <th>Slug</th>
                            <th>ssh key</th>
                            <th>username</th>
                            <th>ip</th>
                            <th>port</th>
                            <th>Edit / Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% targets.forEach(t => { %>
                            <tr>
                                <td>
                                        <%= t.slug %>
                                </td>
                                <td>
                                        <%= t.sshKey %>
                                </td>
                                <td>
                                    <%= t.username %>
                                </td>
                                <td>
                                    <%= t.ip %>
                                </td>
                                <td>
                                    <%= t.port %>
                                </td>
                                <td>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
        
                <button class="btn btn-outline-success mt-2" id="btn-add-target">Add ssh connection</button>
              </div>



            </div>
          </div>

        <div class="modal fade" id="add-edit-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add/Update Target</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form id="add_target" action="/addTarget" method="POST">

                        <div class="form-group">
                            <label for="slug">Name for target</label>
                            <input name="slug" class="form-control" type="text" placeholder="my-aws-server" aria-label="slug">
                        </div>

                        <div class="form-group">
                            <label for="sshKey">Private ssh key</label>
                            <textarea name="sshKey" class="form-control" type="text" placeholder="" aria-label="ssh key"></textarea>
                        </div>
                        <small id="emailHelp" class="form-text text-muted">Your private key will be stored encrypted.</small>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="username">User name</label>
                                <input name="username" class="form-control" type="text" placeholder="ubuntu" aria-label="username">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="ip">IP address</label>
                                <input name="ip" class="form-control" type="text" placeholder="x.x.x.x" aria-label="ip address">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="port">Port</label>
                                <input name="port" class="form-control" type="text" placeholder="22" aria-label="port">
                            </div>
                        </div>
                        <input name="edit" id="edit" type="checkbox" hidden>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" form="add_target" class="btn btn-outline-success">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          


<script>
$(document).ready(function() {

    let datatable = $('#example').DataTable( {
        searching: false,
        paging: false,
        info: false,
        columns: [
            {name: 'slug'},
            {
                name: 'sshKey', 
                render: function(data, type) {
                    return "****";
                }
            },
            {name: 'username'},
            {name: 'ip'},
            {name: 'port'},
            {data: null,
             defaultContent: '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>',
            }
        ]
    });

    let columnNames = datatable.settings().init().columns.map( obj => obj.name );

    // New record
    $('#btn-add-target').on('click', function (e) {
        e.preventDefault();

        // Clear modal
        for( var key of columnNames)
        {
            var columnIndex = datatable.column(`${key}:name`).index();
            $(`[name=${key}]`).val( '' );
        }

        $('#add-edit-dialog').modal()     
    } );
 
    // Edit record
    $('#example').on('click', 'a.editor_edit', function (e) {
        e.preventDefault();
 
        let row = $(this).closest('tr');
        let data = datatable.row( row ).data();

        // Set values in modal dialog
        for( var key of columnNames)
        {
            var columnIndex = datatable.column(`${key}:name`).index();
            let val = data[columnIndex];
            $(`[name=${key}]`).val( val );
        }

        $('#edit').prop('checked', true);
        $('#add-edit-dialog').modal()     
    } );

    // Delete a record
    $('#example').on('click', 'a.editor_remove', function (e) {
        e.preventDefault();

        let row = $(this).closest('tr')
        let data = datatable.row( row ).data();
        let slug = data[0];

        return fetch('/deleteTarget', {
            method: 'POST',
            mode: 'cors',
            body: JSON.stringify({slug: slug}),
            headers: { "content-type": "application/json; charset=UTF-8" },
        })
        .then(response => response.text())
        .then(function(data) {
            row.remove();
        });

    } );
 
});
</script>
    </main>

    <%- include('templates/footer_analytics'); -%>
    
</body>

</html>
