<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112375708-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112375708-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="/js/font-awesome.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Docable</a>

            <%- include('templates/docable_menu'); -%>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
            </div>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="flex-shrink-0"  style="width: 65%; margin: 0 auto; padding: 45px;">

        <h2>Variables:</h2>

        <table class="table" style="width: 100%; text-align: center;">
            <thead>
                <tr>
                    <th>Slug</th>
                    <th>Variable</th>
                    <th>Secret?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% variables.forEach(v => { %>
                    <tr>
                        <td>
                            <div class="form-control" type="text" aria-label="Secret slug">
                                <%= v.slug %>
                            </div>
                        </td>
                        <td>
                            <div class="form-control">
                                <%= v.value %>
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input" <%= v.isSecret ? 'checked' : '' %> >
                        </td>
                        <td>
                            <!-- <button class="btn btn-outline-success" type="submit">Add</button> -->
                        </td>
                    </tr>
                <% }); %>
                <tr>
                    <td>
                        <input form="add_variable" name="slug" class="form-control" type="text" placeholder="slug" aria-label="Variable slug">
                    </td>
                    <td>
                        <input form="add_variable" name="value" class="form-control" type="text" placeholder="*****" aria-label="Variable value">
                    </td>
                    <td>
                        <input form="add_variable" name="isSecret" type="checkbox" class="form-check-input" >
                    </td>
                    <td>
                        <form id="add_variable" action="/setVariable" method="POST">
                            <button class="btn btn-outline-success" type="submit">Add</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

    <%- include('templates/footer_analytics'); -%>
    
</body>

</html>
