<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112375708-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112375708-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="/js/font-awesome.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">Docable</a>

            <%- include('templates/docable_menu'); -%>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="flex-shrink-0"  style="width: 85%; margin: 0 auto; padding: 45px;">

        <h2>Variables:</h2>

        <table class="table" id="variablesTable" style="width: 100%; text-align: center;">
            <thead>
                <tr>
                    <th>Slug</th>
                    <th>Variable</th>
                    <th>Secret?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input name="slug" class="form-control" type="text" placeholder="slug" aria-label="Variable slug">
                    </td>
                    <td>
                        <input name="value" class="form-control" type="text" placeholder="*****" aria-label="Variable value">
                    </td>
                    <td>
                        <input name="isSecret" type="checkbox" class="form-check-input" >
                    </td>
                    <td>
                        <a href="" class="add_variable">Add</a>
                    </td>
                </tr>
                <% variables.forEach(v => { %>
                    <tr>
                        <td>
                            <%= v.slug %>
                        </td>
                        <td>
                            <%= v.isSecret ? '****' : v.value %>
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input" <%= v.isSecret ? 'checked' : '' %> disabled>
                        </td>
                        <td>
                            <a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <script>
            $(document).ready(function() {
            
                let datatable = $('#variablesTable').DataTable( {
                    columns: [
                        {name: 'slug'},
                        {name: 'variable'},
                        {name: 'secret'},
                        {
                            name: 'action',
                            defaultContent: '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>'
                        }
                    ]
                });
            
                let columnNames = datatable.settings().init().columns.map( obj => obj.name );

                function extractRowCells(elem) {
                    const row = $(elem).closest('tr');
                    const rowCells = $(datatable.row(row).node()).find('td');

                    let slug = rowCells.eq(0);
                    let value = rowCells.eq(1);
                    let isSecret = rowCells.eq(2);
                    let action = rowCells.eq(3);
                    
                    let slugInput = slug.find('input');
                    let valueInput = value.find('input');
                    let isSecretInput = isSecret.find('input');

                    return {
                        slug, value, isSecret,
                        slugInput, valueInput, isSecretInput,
                        action
                    };
                }

                // Add record
                $('#variablesTable').on('click', 'a.add_variable', function(e) {
                    e.preventDefault();

                    const {slugInput, valueInput, isSecretInput} = extractRowCells(this)

                    return fetch('/setVariable', {
                        method: 'POST',
                        mode: 'cors',
                        body: JSON.stringify({ slug: slugInput.val(), value: valueInput.val(), isSecret: isSecretInput.prop('checked') }),
                        headers: { "content-type": "application/json; charset=UTF-8" },
                    })
                    .then(response => response.text())
                    .then(function (data) {
                        datatable.row.add([
                            slugInput.val(), 
                            valueInput.val(), 
                            `<input type="checkbox" class="form-check-input" ${isSecretInput.prop('checked') ? 'checked': ''} disabled>`, 
                            ]).draw();

                        slugInput.val('');
                        valueInput.val('');
                        isSecretInput.prop('checked', false) 
                    });
                });


                // Edit record
                $("#variablesTable").on('click', "a.editor_edit", function (e) {
                    e.preventDefault();

                    $(this).text('Done');
                    var row = $(this).closest("tr");
                    const {slug, value, isSecret, slugInput, valueInput, isSecretInput} = extractRowCells(this);

                    row.html(
                        `<td><input class="form-control" type='text' value="${slug.text().trim()}" name="slug"></td>` +
                        `<td><input class="form-control" type='text' value="${isSecretInput.prop('checked') ? '' : value.text().trim()}" name="value"></td>` +
                        `<td><input class="form-check-input" type="checkbox" name="isSecret" ${isSecretInput.prop('checked') ? 'checked disabled' : ''} > </td>` +
                        `<td><a href="" class="update_variable">Done</a></td>`
                    );
                });

                $('#variablesTable').on('click', 'a.update_variable', function(e) {
                    e.preventDefault();

                    const {slug, value, isSecret, action, slugInput, valueInput, isSecretInput} = extractRowCells(this);

                    return fetch('/setVariable', {
                        method: 'POST',
                        mode: 'cors',
                        body: JSON.stringify({ slug: slugInput.val(), value: valueInput.val(), isSecret: isSecretInput.prop('checked'), edit: true }),
                        headers: { "content-type": "application/json; charset=UTF-8" },
                    })
                    .then(response => response.text())
                    .then(function (data) {
                        slug.html(`${slugInput.val()}`);
                        value.html(`${valueInput.val()}`);
                        isSecret.prop('disabled', true);
                        action.html('<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>');
                    });
                });

                // Delete a record
                $('#variablesTable').on('click', 'a.editor_remove', function (e) {
                    e.preventDefault();
                    let row = $(this).closest('tr');
                    let data = datatable.row(row).data();
                    let slug = data[0];

                    return fetch('/deleteVariable', {
                        method: 'POST',
                        mode: 'cors',
                        body: JSON.stringify({ slug }),
                        headers: { "content-type": "application/json; charset=UTF-8" },
                    })
                    .then(response => response.text())
                    .then(function (data) {
                        datatable.row(row).remove().draw();
                    });
                });
             
            });
        </script>
    </main>

    <%- include('templates/footer_analytics'); -%>
    
</body>

</html>
