<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112375708-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112375708-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Docable Notebook</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/github-markdown.css">
    <link rel="stylesheet" href="/css/notebook.css">
    <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/default.min.css">
    <script src="/js/font-awesome.min.js"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Docable</a>

            <%- include('templates/docable_menu'); -%>

        </nav>

    </header>

    <!-- Begin page content -->
    <main role="main" id="main" class="flex-shrink-0"  style="width: 85%; margin: 0 auto; padding: 45px;">

        <h2>Variables:</h2>

        <table class="table" id="variablesTable" style="width: 100%; text-align: center;">
            <thead>
                <tr>
                    <th>Slug</th>
                    <th>Variable</th>
                    <th>Secret?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input form="add_variable" name="slug" class="form-control" type="text" placeholder="slug" aria-label="Variable slug">
                    </td>
                    <td>
                        <input form="add_variable" name="value" class="form-control" type="text" placeholder="*****" aria-label="Variable value">
                    </td>
                    <td>
                        <input form="add_variable" name="isSecret" type="checkbox" class="form-check-input" >
                    </td>
                    <td>
                        <form id="add_variable" action="/setVariable" method="POST">
                            <button class="btn" type="submit">Add</button>
                        </form>
                    </td>
                </tr>
                <% variables.forEach(v => { %>
                    <tr>
                        <td>
                            <%= v.slug %>
                        </td>
                        <td>
                            <%= v.value %>
                        </td>
                        <td>
                            <input type="checkbox" class="form-check-input" <%= v.isSecret ? 'checked' : '' %> disabled>
                        </td>
                        <td>
                            <a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>
                            <!-- <button class="btn btn-outline-success" type="submit">Add</button> -->
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>

        <script>
            $(document).ready(function() {
            
                let datatable = $('#variablesTable').DataTable( {
                    columns: [
                        {name: 'slug'},
                        {name: 'variable'},
                        {name: 'secret'},
                        {name: 'action'}
                    ]
                });
            
                let columnNames = datatable.settings().init().columns.map( obj => obj.name );

                // Edit record
                $("#variablesTable").on('click', "a.editor_edit", function (e) {
                    e.preventDefault();

                    $(this).text('Done');
                    var row = $(this).closest("tr");

                    let data = datatable.row(row).data();
                    
                    let [slug, variable, isSecret] = data;
                    isSecret = $($.parseHTML(isSecret)).closest('input').prop('checked');

                    row.html(
                        `<td><input form="update_variable" class="form-control" type='text' value="${slug}" name="slug"></td>` +
                        `<td><input form="update_variable" class="form-control" type='text' value="${variable}" name="value"></td>` +
                        `<td><input form="update_variable" class="form-check-input" type="checkbox" name="isSecret" ${isSecret ? 'checked' : ''} > </td>` +
                        `<td><form id="update_variable" action="/setVariable" method="POST">
                            <input name="edit" id="edit" type="checkbox" hidden checked>
                            <button class="btn" type="submit">Update</button>
                        </form></td>`
                    );
                });

                // Delete a record
                $('#variablesTable').on('click', 'a.editor_remove', function (e) {
                    e.preventDefault();
                    let row = $(this).closest('tr');
                    let data = datatable.row(row).data();
                    let slug = data[0];

                    return fetch('/deleteVariable', {
                        method: 'POST',
                        mode: 'cors',
                        body: JSON.stringify({ slug }),
                        headers: { "content-type": "application/json; charset=UTF-8" },
                    })
                    .then(response => response.text())
                    .then(function (data) {
                        datatable.row(row).remove().draw();
                    });
                });
             
            });
        </script>
    </main>

    <%- include('templates/footer_analytics'); -%>
    
</body>

</html>
